.documentacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 20px;
    background-color: var(--background);
    color: var(--primary-color);
}

.documentacion > img{
    width: 58.5%;
    border-radius: 100px;
}

.perros{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}