.documentacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 20px;
    background-color: var(--background-secondary);
    color: var(--primary-color);
}

.documentacion > img{
    width: 58.5%;
    border-radius: 100px;
}

.perros{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}


@media only screen and (max-width: 500px){
    .documentacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .perros > h2{
        text-align: center;
    }

    .perros > p{
        text-align: justify;
    }

    .documentacion > img{
        width: 100%;
        border-radius: 50px;
    }

}