section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section > .logoMascotas{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.registrarMascota{
    color: #183552;
    font-weight: bolder;
}

.loginMascota{
    color: #b8334d;
    font-weight: bolder;
}
