section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-secondary);
}

section > .logoMascotas{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.registrarMascota{
    color: var(--primary-color);
    font-weight: bolder;
}

section > p{
    color: var(--primary-color);
}

.loginMascota{
    color: #b8334d;
    font-weight: bolder;
}
