.infoMascota{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.infoMascota > img{
    width: 512px;
    border-radius: 20px;
}

.nick, .raza, .pelo, .color{
    text-align: center;
    width: 350px;
    color: black;
    border: 1px solid black;
    padding: 10px;
    background-color: var(--background);
    color: var(--primary-color);
    border-radius: 10px;
    text-decoration: none;
}

.nick:hover, .raza:hover, .pelo:hover, .color:hover{
    color: white;
    background-color: #b8334d;
}