.Login{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.Login > h2{
    text-shadow: 2px 2px #183552;
}

.Login > form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.Login > form > label{
    color: var(--primary-color);
    font-weight: bolder;
}

.Login > form > input {
    text-align: center;
    border-radius: 0.5rem;
    width: 250px;
    height: 25px;
}

.Login > form > input:focus {
    border: 3px solid #b8334d;
    outline: none;
}

.btn-login{
    width: 10rem;
    padding: 0.5rem;
    border-radius: 20px;
    color: #b8334d;
    background-color: none;
    font-weight: bolder;
}

.btn-login:hover{
    color: white;
    background-color: #b8334d;
    border-color: white;
}