.btn{
  border-radius: 50%;
  position: absolute;
  top: 30px;
  right: 20px;
}

.btn > img{
  width: 48px;
}

@media only screen and (max-width: 1560px) {
  .btn{
    border-radius: 50%;
    position: absolute;
    top: 150px;
  }
}


@media only screen and (max-width: 480px) {
  .btn{
    border-radius: 50%;
    position: absolute;
    top: 190px;
  }
}
