:root{
    background-color: #fcfaf9;
    color: #111c2b;
}

[data-theme='dark'] {
    --background: #183552;
    --background-card: white;
    --background-secondary: #183552;
    --primary-color: white;
    --title-web: wheat;
}

[data-theme='light'] {
    --background: wheat;
    --background-secondary: white;
    --background-card: #183552;
    --title-web: #b8334d;
}

h1,h2,h3,h4:root{
    color: #b8334d;
}

p:root{
    color: #183552;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

section {
    min-height: 75vh;
}
